@font-face {
    font-family: italic;
    src: url(../fonts/SourceSerif4-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: regular;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: bold;
    src: url(../fonts/Gilroy-SemiBold.ttf);
}

.header {
    font-family: bold;
}

.button {
    background-color: rgba(135, 85, 223);
    color: white;
}

.vid {
    background-color: rgba(236, 236, 246);
    min-height: 90vh;
}

.video {
    width: 100%;
}

.shop {
    font-family: bold;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}

.spann {
    font-family: italic;
    color: rgba(135, 85, 223);
    font-weight: 600;
}

.apps {
    width: 180px;
    height: 60px;

    >div {
        &:first-of-type {
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                width: 40px;
            }
        }

        &:last-of-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: bold;

            >p {

                height: 50%;
                font-size: 14px;
            }

            >img {
                width: 105px;

            }
        }
    }

}

.boxes {
    >div {
        &:nth-of-type(1) {
            >h2 {
                font-family: bold;
                font-size: 45px;
                font-weight: bolder;

                >span {
                    font-family: italic;
                    font-weight: 600;
                    font-size: 47px;
                }
            }

        }

        &:nth-of-type(2) {
            overflow-x: auto;
            overflow-y: hidden;

            .scroll {
                >div {
                    min-width: 320px;
                    height: 500px;
                    border-radius: 50px;
                    overflow: hidden;
position: relative;
                    /* object-fit: contain; */
                    &:hover {
                        >img {
                            transform: scale(1);
                        }
                    }

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(1.1);
                        transition: 0.3s;
                    }
                        >h3 {
                            position: absolute;
                            bottom: 20px;
                            left: 30px;
                            color: white;
                            font-family: bold;
                            font-size: 50px;
                            text-transform: capitalize;
                            font-weight: bolder;
                        }
                }

            
            }

        }

        &:nth-of-type(3) {
            >h3{
                font-family: bold;
                font-weight: bolder;
                font-size: 45px;
                >span{
font-family: italic;
font-weight: 600;
font-size: 47px;
                }
            }
        }
    }
}
.brands{
   height: 80vh; 
   background-color: rgba(47, 25, 68);
   display: flex;
   justify-content: center;
   align-items: center;
 >img{
width: 100%;
object-fit: cover;
   }
   }
   .footer{
    font-family: medium;
    font-size: 18px;
    min-height: 70vh;
   }
 .line{
       margin: 100px auto;
       margin-top: -50px;
        width: 92%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.443);
    }
    .id {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

    .social {
        width: 280px;
        height: 450px;
        /* border: 2px solid orange; */
        background-color: white;
        border-radius: 30px;
        text-transform: capitalize;
        font-family: medium;
      background-color: rgb(255, 255, 255);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &:nth-of-type(1) {
                position: relative;
                width: 100%;
                height: 280px;
                /* border: 2px solid red; */
                object-fit: contain;
                overflow: hidden;
                align-items: center;
                display: flex;
                border-radius: 30px 30px 0 0 ;

                >img {
                    position: absolute;
                    width: 100%;
                    height: auto;

                }
            }

            &:nth-of-type(2) {
                gap: 5px;
                padding-top: 15px;

                >h5 {
                    font-size: 20px;
                }

                >h6 {
                    font-size: 12px;
                }

            }




        }

        >nav {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            >ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;
margin-right: 30px;
                >li {
 list-style-type: none;
                    >a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       

                        >img {
                            width: 40px;
                            height: 40px;
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
        >img{
            display: flex;
            top: -20px;
           margin-top: -20px;
           margin-left: 220px;
        }
    }
}

@media screen and (min-width:768px) {
    .shop {
        font-size: 55px;
    }
}

@media screen and (min-width:992px) {
    .shop {
        font-size: 60px;
    }
}

@media screen and (min-width:1200px) {
    .shop {
        font-size: 65px;
    }
}